.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.navbar {
    flex: 1 100%;
}


/**
 * Main Layout
 */

.primary-aside ul {
  list-style: none;
  margin: 0;
}

.primary-aside a {
  display: block;
  padding: 0.6em;
}

.primary-aside a.active {
  color: #fff;
  background-color: #2297D1;
}


main {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}